<?php

return [
    'tss' => [
        'authentication' => [
            'layout' => 'tss/authentication/layout/default',
            'templates' => [
                'password-recover' => 'tss/authentication/password-recover',
                'recover' => 'tss/authentication/recover',
                'signin' => 'tss/authentication/signin',
                'signup' => 'tss/authentication/signup',
            ],
            'routes' => [
                'home' => [
                    'name' => 'home',
                    'params' => [],
                    'options' => [],
                    'reuseMatchedParams' => false
                ],
                'redirect' => [
                    'name' => 'home',
                    'params' => [],
                    'options' => [],
                    'reuseMatchedParams' => false
                ],
                'authenticate' => [
                    'name' => 'tssAuthentication/authenticate',
                    'params' => [],
                    'options' => [],
                    'reuseMatchedParams' => false
                ],
                'confirm-email' => [
                    'name' => 'tssAuthentication/confirm-email',
                    'params' => [],
                    'options' => [],
                    'reuseMatchedParams' => false
                ],
                'password-recover' => [
                    'name' => 'tssAuthentication/password-recover',
                    'params' => [],
                    'options' => [],
                    'reuseMatchedParams' => false
                ],
                'recover' => [
                    'name' => 'tssAuthentication/recover',
                    'params' => [],
                    'options' => [],
                    'reuseMatchedParams' => false
                ],
                'signin' => [
                    'name' => 'tssAuthentication/signin',
                    'params' => [],
                    'options' => [],
                    'reuseMatchedParams' => false
                ],
                'signout' => [
                    'name' => 'tssAuthentication/signout',
                    'params' => [],
                    'options' => [],
                    'reuseMatchedParams' => false
                ],
                'signup' => [
                    'name' => 'tssAuthentication/signup',
                    'params' => [],
                    'options' => [],
                    'reuseMatchedParams' => false
                ],
                'account' => [
                    'name' => 'tssAuthentication/default',
                    'params' => ['controller' => 'account'],
                    'options' => [],
                    'reuseMatchedParams' => false
                ],
                'password-change' => [
                    'name' => 'tssAuthentication/default',
                    'params' => ['controller' => 'account', 'action' => 'password-change'],
                    'options' => [],
                    'reuseMatchedParams' => false
                ],
            ],
            'config' => [
                'identityClass' => '',
                'identityProperty' => 'username',
                'credentialClass' => '',
                'credentialProperty' => 'value',
                'credentialIdentityProperty' => 'user',
                'credentialType' => \TSS\Authentication\Entity\AbstractCredential::TYPE_PASSWORD,
                'credential_callable' => function (\TSS\Authentication\Entity\UserInterface $user, \TSS\Authentication\Entity\CredentialInterface $credential) {
                    if ($user->getId() == $credential->getUser()->getId() && $user->isSignAllowed()) {
                        return true;
                    } else {
                        return false;
                    }
                },
                'identityEmail' => 'email',
                'roleClass' => '',
                'roleDefault' => 2,
                'signAllowed' => false
            ],


            'acl' => [
                'default_role' => 'Guest',
                'roles' => [
                    'Guest' => null,
                    'Member' => ['Guest'],
                    'Admin' => ['Member'],
                ],
                'resources' => [
                    'allow' => [
                        'TSS\Authentication\Controller\Account' => [
                            '' => ['Member'],
                        ],
                        'TSS\Authentication\Controller\Auth' => [
                            'authenticate' => ['Guest'],
                            'confirm-email' => ['Guest'],
                            'password-recover' => ['Guest'],
                            'recover' => ['Guest'],
                            'signin' => ['Guest'],
                            'signout' => ['Guest'],
                            'signup' => ['Guest'],
                        ],
                    ],
                    'deny' => [
                        'TSS\Authentication\Controller\Auth' => [
                            'signup' => ['Member'],
                        ],
                    ]
                ]
            ]
        ]
    ]
];
